{% extends "site/base.html" %} 
{% load staticfiles %}

{% block content %}

<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_2.jpg);">
		<div class="desc animate-box">
			<h2><strong>Contact</strong> Us</h2>
			<span>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FreeHTML5.co</a></span>
			<span><a class="btn btn-primary btn-lg" href="#">Donate Now</a></span>
		</div>
	</div>

</div>

<div id="fh5co-contact" class="animate-box">
	<div class="container">
		<form class="form-contato">
			<div class="row">
				<div class="col-md-5">
					<h3 class="section-title">Nosso Endereço</h3>
					<ul class="contact-info">
						<li><i class="icon-location-pin"></i>End. Rua Adelino Alves Saldanha, 562, Cedro - Areal - RJ</li>
						<li><i class="icon-phone2"></i>(24) xxxx-xxxx</li>
						<li><i class="icon-mail"></i><a href="#">info@yoursite.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								{{ form.nome }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								{{ form.telefone }}
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								{{ form.email }}
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="descricao" class="form-control" id="" cols="30" rows="7" placeholder="Mensagem"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Enviar Mensagem" class="btn btn-primary">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- END fh5co-contact -->
<div id="map" class="fh5co-map"></div>
<!-- END map -->

{% endblock %}

{% block javascript %}
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="/static/site/js/google_map.js"></script>
<script type="text/javascript">
$('.form-contato').validate({
	messages: {
        'NOTEMPTY': 'Por favor, preencha este campo.'
    },
    submit: {
        settings: {
			inputContainer : '.form-group',
			errorListClass : 'form-error'
        }
    }
});
</script>
{% endblock %}