{% extends 'painel/base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="/static/painel/build/css/lib/summernote/summernote.css">
<link rel="stylesheet" href="/static/painel/build/css/separate/pages/editor.min.css">
{% endblock %}
{% block content %}
<form id="form_publicacao" name="form_publicacao" action="/painel/publicacao/cadastrar/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="box-typical box-typical-padding">
		<div class="row">
			<div class="col-lg-2 col-sm-4 text-center">
				<h2 class="m-t-lg"><i class="text-muted font-icon font-icon-question"></i></h2>
				<h5 class="m-b semibold">Criando uma publicação</h5>
				<p>
					Você poderá criar novas publicações/notícias para ao preencher este formulário.
				</p>
			</div>
			<div class="col-lg-10 col-sm-8">

				<h5 class="m-t-lg with-border">Nova Publicação</h5>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.titulo.id_for_label}}" class="col-sm2 form-label semibold">
								{{form.titulo.label_tag}}
							</label>
							<div class="col-sm10">
								{{form.titulo.errors}}
								<p class="form-control-static">
									{{form.titulo}}
								</p>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.imagem.id_for_label}}" class="col-sm2 form-label semibold">
								{{form.imagem.label_tag}}
							</label>
							<div class="col-sm10">
								{{form.imagem.errors}}
								<p class="form-control-static">
									{{form.imagem}}
								</p>
							</div>
						</fieldset>
					</div>
				</div>

				<h5 class="m-t-lg with-border">Conteúdo da página</h5>

				<div class="row">
					<div class="col-lg-12">
						<fieldset class="form-group">
							<label for="{{form.conteudo.id_for_label}}" class="col-sm2 form-label semibold">
								{{form.conteudo.label_tag}}
							</label>
							<div class="col-sm10">
								{{form.conteudo.errors}}
								<p class="form-control-static">
									{{form.conteudo}}
								</p>
							</div>
						</fieldset>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<button class="btn btn-save" type="button">Salvar</button>
							<button class="btn btn-secondary btn-save-more" type="submit">Salvar e criar nova publicação</button>
							<div class="pull-right">
								<a class="btn btn-secondary-outline" href="/painel/publicacao/">Lista de publicações</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</form>
{% endblock %}
{% block javascript %}
<script src="/static/painel/build/js/lib/summernote/summernote.min.js"></script>
<script>
	$(document).ready(function(){
		$('.summernote').summernote({
			height:500,
		});
	});
	$('.btn-save').on('click', function(event){
		$('#{{form.conteudo.id_for_label}}').val($('.summernote').summernote('code'));
		$('#form_publicacao').submit();
	});
</script>
{% endblock %}