{% extends 'painel/base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="/static/painel/build/css/lib/summernote/summernote.css">
<link rel="stylesheet" href="/static/painel/build/css/separate/pages/editor.min.css">
{% endblock %}
{% block content %}
<div class="box-typical box-typical-full-height box-typical-padding" style="min-height: 444px;">
	<h5 class="m-t-lg with-border">Nova Publicação</h5>


<form action="/painel/publicacao/cadastrar/" method="post">
	{% csrf_token %}
	<div class="form-group row">
		<label for="{{form.titulo.id_for_label}}" class="col-sm2 form-control-label">
			{{form.titulo.label_tag}}
		</label>
		<div class="col-sm10">
			{{form.titulo.errors}}
			<p class="form-control-static">
				{{form.titulo}}
			</p>
		</div>
	</div>
	<div class="form-group row">
		<label for="{{form.imagem.id_for_label}}" class="col-sm2 form-control-label">
			{{form.imagem.label_tag}}
		</label>
		<div class="col-sm10">
			{{form.imagem.errors}}
			<p class="form-control-static">
				{{form.imagem}}
			</p>
		</div>
	</div>
		<div class="form-group row">
		<label for="{{form.conteudo.id_for_label}}" class="col-sm2 form-control-label">
			{{form.conteudo.label_tag}}
		</label>
		<div class="col-sm10">
			{{form.conteudo.errors}}
			<p class="form-control-static">
				{{form.conteudo}}
			</p>
		</div>
	</div>
	<input type="submit" value="Salvar" />
</form>
</div><!--.box-typical-->
{% endblock %}
{% block javascript %}
<script src="/static/painel/build/js/lib/summernote/summernote.min.js"></script>
<script>
	$(document).ready(function(){
		$('.summernote').summernote({
			height:500,
		});
	});
</script>
{% endblock %}