{% extends 'painel/base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="/static/painel/build/css/separate/pages/others.min.css">
<link rel="stylesheet" href="/static/painel/build/css/separate/vendor/bootstrap-select/bootstrap-select.min.css">
<link rel="stylesheet" href="/static/painel/build/css/separate/vendor/select2.min.css">
{% endblock %}
<!-- Esse é um modelo de como devem estar estruturados os forms usando o template StartUI, a validação dos campos deve ser feita no JS,
antes do envio dos dados (boa prática), usaremos o jquery.validation pra definir as regras(exemplo no fim da página), como é javascript,
isso pode ser deixado como atividade do front-end se necessário, outra coisa muito importante, estamos deixando os wizards de lado,
a partir daqui estaremos abandonando também a divisão do form em colunas, por mais que seja um formulário longo, deixem ele o máximo
possível na vertical, que é o fluxo natural da mente quando estamos preenchendo um formulário.


As opções de validação dos campos podem ser definidas via javascript ou usando os atributos data do proprio campo, 
Ex: data-validation-message definirá a mensagem a ser mostrada se o campo não estiver válido. Tutorial e informações:
http://www.runningcoder.org/jqueryvalidation/

-->
{% block content %}
<form class="form-exemplo" method="GET">
	<div class="box-typical box-typical-padding">
		<div class="row">
			<div class="col-lg-2 col-sm-4 text-center">
				<h2 class="m-t-lg"><i class="text-muted font-icon font-icon-question"></i></h2>
				<h5 class="m-b semibold">Criando um modelo</h5>
				<p>
					Você poderá ver os todos os modelos criados ao voltar para a tela de listagem.
				</p>
			</div>
			<div class="col-lg-10 col-sm-8">
				<h5 class="m-t-lg with-border">Novo Modelo</h5>
				<div class="row">
					<div class="col-lg-6">
						<fieldset class="form-group">
							<label class="form-label semibold" for="exampleInput">Nome</label>
							<input type="text" class="form-control" id="exampleInput">
							<small class="text-muted">Informe o nome completo.</small>
						</fieldset>
					</div>
					<div class="col-lg-6">
						<fieldset class="form-group">
							<label class="form-label semibold" for="exampleInputEmail1">Email</label>
							<input type="email" class="form-control" name="email" data-validation="[EMAIL]" id="exampleInputEmail1">
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold" for="date-mask-input">Data</label>
							<input type="text" class="form-control" id="date-mask-input" placeholder="__/__/____">
							<small class="text-muted">Ex.: 10/01/2001</small>
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold" for="time-mask-input">Hora</label>
							<input type="email" class="form-control" id="time-mask-input" placeholder="__:__:__">
							<small class="text-muted">Ex.: 10:30:50</small>
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold" for="date-and-time-mask-input">Data e Hora</label>
							<input type="text" class="form-control" id="date-and-time-mask-input" placeholder="__/__/____ __:__:__">
							<small class="text-muted">Ex.: 10/01/2001 10:30:50</small>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold" for="money-mask-input">Decimal</label>
							<input type="text" class="form-control" id="money-mask-input">
							<small class="text-muted">Ex.: 000,00</small>
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold" for="file-input">Arquivo</label>
							<input type="file" class="form-control" id="file-input">
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold" >Select Simples</label>
							<select class="bootstrap-select">
								<option>Quant Verbal</option>
								<option>Real Gmat Test</option>
								<option>Prep test</option>
								<option>Catprep test</option>
								<option>Long long long extra long example line long long long extra long example line </option>
							</select>
						</fieldset>
					</div>
				</div>
				<h5 class="m-t-lg with-border">Informações Adicionais</h5>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group form-group-radios">
							<label class="form-label semibold" id="signup_v2-gender"> Radio <span class="color-red">*</span> </label>
							<div class="radio">
								<input id="signup_v2-gender-male" name="signup_v2[gender]" data-validation="[NOTEMPTY]" data-validation-group="signup_v2-gender" data-validation-message="Você precisa selecionar um gênero" type="radio" value="male">
								<label for="signup_v2-gender-male">Male</label>
							</div>
							<div class="radio">
								<input id="signup_v2-gender-female" name="signup_v2[gender]" data-validation-group="signup_v2-gender" type="radio" value="female">
								<label for="signup_v2-gender-female">Female</label>
							</div>
							<div class="radio">
								<input id="signup_v2-gender-other" name="signup_v2[gender]" data-validation-group="signup_v2-gender" type="radio" value="other">
								<label for="signup_v2-gender-other">Other</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Select 2</label>
							<select class="select2">
								<option>Quant Verbal</option>
								<option>Real Gmat Test</option>
								<option>Prep test</option>
								<option>Catprep test</option>
								<option>Long long long extra long example line long long long extra long example line </option>
							</select>
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold">Select Multiplo</label>
							<select class="select2" multiple="multiple">
								<option data-icon="font-icon-home">Quant Verbal</option>
								<option selected data-icon="font-icon-cart">Real Gmat Test</option>
								<option data-icon="font-icon-speed">Prep test</option>
								<option data-icon="font-icon-users">Catprep test</option>
								<option data-icon="font-icon-comments">Third Party Test</option>
							</select>
						</fieldset>
					</div>
					<div class="col-lg-4">
						<fieldset class="form-group">
							<label class="form-label semibold" >Select Simples</label>
							<select class="bootstrap-select">
								<option>Quant Verbal</option>
								<option>Real Gmat Test</option>
								<option>Prep test</option>
								<option>Catprep test</option>
								<option>Long long long extra long example line long long long extra long example line </option>
							</select>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="form-label semibold">Boleano</label>
							<div class="checkbox-toggle">
								<input type="checkbox" id="check-toggle-1">
								<label for="check-toggle-1">Toggle</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label class="form-label semibold" for="exampleInputEmail1">Texto</label>
							<textarea rows="4" name="texto" class="form-control" data-validation="[NOTEMPTY]"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group form-group-checkbox">
							<div class="checkbox">
								<input id="signup_v2-agree" name="agree" data-validation="[NOTEMPTY]" data-validation-message="You must agree the terms and conditions" type="checkbox" class="">
								<label for="signup_v2-agree" class="">I agree the <a href="#">terms</a> and <a href="#">conditions</a></label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<button type="submit" class="btn">
								Salvar modelo
							</button>
							<button type="submit" class="btn btn-secondary">
								Salvar e adicionar outro
							</button>
							<div class="pull-right">
							<a class="btn btn-secondary-outline" href="/appexemplo/list/">
								Cancelar
							</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
{% block javascript %}
<script src="/static/painel/build/js/lib/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/painel/build/js/lib/select2/select2.full.min.js"></script>
<script src="/static/painel/build/js/lib/html5-form-validation/jquery.validation.min.js"></script>
<script src="/static/painel/build/js/lib/jquery-validation/localization/messages_pt_BR.min.js"></script>

<script>
	$(function() {
		/* ==========================================================================
		 Validation
		 ========================================================================== */

		$('.form-exemplo').validate({
			submit : {
				settings : {
					inputContainer : '.form-group',
					errorListClass : 'form-tooltip-error'
				}
			}
		});
	});

</script>
{% endblock %}
